<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi <%= name %>!</title>
    <link rel="stylesheet" href="form.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css">
</head>
<body>
    <div class="main">
        <h1>Welcome, <%= name %>!</h1>
        <hr>
        <p>Papaya.js supports <a href="https://ejs.co/">EJS</a> out of the box. Kickstart your new project with <code>GET</code> parameters and EJS, like in this example.</p><br>
        <div id="container">
        </div>
    </div>
    <script>
        // require is provided by loader.min.js.
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' }});
        require(["vs/editor/editor.main"], () => {
          monaco.editor.create(document.getElementById('container'), {
            value: `
import { renderEJS, extractGetParameters, PapayaRoute } from "papaya.js";

export default class GetForm extends PapayaRoute {
    path = "/form";
    callback = (request: Request) => {
        return new Promise((resolve) => {
            let getParams = extractGetParameters(request);
            console.log(getParams);
            renderEJS("form.ejs", getParams).then((html) => {
                resolve(html);
            })
        })
    };
}`,
            language: 'typescript',
            theme: 'vs-dark',
            readOnly: true,
          });
        });
        </script>
</body>
</html>